{{extend name="layout/application" /}}

{{block name="css"}}
<link rel="stylesheet" href="/vendor/markdown/css/editormd.min.css"/>     //文本
{{/block}}

{{block name="content"}}
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">新增考务资讯</strong> /
            <!--<small>Create A New AdCategory</small>-->
        </div>
    </div>
    <hr>
    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-12">
            <form class="am-form" action="{{:Url('admin/Messages/update',['id'=>$message.ID])}}" method="post">
                <div class="am-tabs am-margin" data-am-tabs>
                    <ul class="am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active"><a href="#tab1">通用信息</a></li>
                        <li><a href="#tab2">资讯内容</a></li>
                        <!--<li><a href="#tab3">商品相册</a></li>-->
                    </ul>

                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-fade am-in am-active" id="tab1" style="min-height: 400px">
                            <input type="hidden" name="_token" value="">
                            <div class="am-g am-margin-top">
                                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                    主讲分类
                                </div>
                                <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                    <select data-am-selected="{btnWidth: '100%',  btnStyle: 'secondary', btnSize: 'sm', maxHeight: 360, searchBox: 1}"
                                            name="MAJORID" style="display: none;">
                                        <option value="">顶级分类</option>
                                        {{foreach name="categories" id="category"}}
                                        <option value="{{$category.ID}}" {{if $category.ID == $message.MAJORID}} selected {{/if}}>{{$category.MAJOR_NAME}}</option>
                                        {{/foreach}}
                                    </select>
                                </div>
                            </div>

                            <div class="am-g am-margin-top">
                                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                    类型
                                </div>
                                <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                    <select data-am-selected="{btnWidth: '100%',  btnStyle: 'secondary', btnSize: 'sm', maxHeight: 360, searchBox: 1}"
                                            name="TYPE" style="display: none;">
                                        <option value="">顶级分类</option>
                                        {{foreach name="types" id="type"}}
                                        <option value="{{$type.ID}}"
                                                {{if $type.ID == $message.TYPE}} selected {{/if}} >{{$type.TYPENAME}}</option>
                                        {{/foreach}}
                                    </select>
                                    <!--<div class="am-selected am-dropdown " id="am-selected-n65gb" data-am-dropdown=""-->
                                    <!--style="width: 100%;">-->
                                    <!--<div class="am-selected-content am-dropdown-content"><h2 class="am-selected-header">-->
                                    <!--<span class="am-icon-chevron-left">返回</span></h2>-->
                                    <!--<div class="am-selected-hint"></div>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </div>

                            <div class="am-g am-margin-top">
                                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                    标题
                                </div>
                                <div class="am-u-sm-8 am-u-md-6">
                                    <input type="text" class="am-input-sm" name="ZIXUNNAME" value="{{$message.ZIXUNNAME}}">
                                </div>
                                <div class="am-hide-sm-only am-u-md-4">*必填</div>
                            </div>

                            <div class="am-g am-margin-top">
                                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                    资讯简介
                                </div>
                                <div class="am-u-sm-8 am-u-md-6 am-u-end col-end">
                                    <textarea rows="6" name="CONTENT">{{$message.CONTENT}}</textarea>
                                </div>
                            </div>

                            <!--缩略图-->
                            <!--<div class="am-g am-margin-top">-->
                            <!--<div class="am-u-sm-4 am-u-md-2 am-text-right">-->
                            <!--老师头像-->
                            <!--</div>-->
                            <!--<div class="am-u-sm-8 am-u-md-8 am-u-end col-end">-->
                            <!--<div class="am-form-group am-form-file new_thumb">-->
                            <!--<button type="button" class="am-btn am-btn-success am-btn-sm">-->
                            <!--<i class="am-icon-cloud-upload" id="loading"></i> 上传新的图片-->
                            <!--</button>-->
                            <!--<input type="file" id="image_upload">-->
                            <!--<input type="hidden" name="image">-->
                            <!--</div>-->
                            <!--<hr data-am-widget="divider" style="" class="am-divider am-divider-dashed am-no-layout">-->
                            <!--<div>-->
                            <!--<img src="" id="img_show" style="max-height: 200px;">-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>

                        <div class="am-tab-panel am-fade" id="tab2">
                            <div class="am-g am-margin-top-sm">
                                <div class="am-u-sm-10 am-u-md-10">
                                    <!--<div id="markdown">-->
                                    <!--<textarea rows="6" name="content" style="display:none;">{{}}</textarea>-->
                                    <!--</div>-->
                                    <script id="container" name="ZIXUNURL" type="text/plain">{{$message.ZIXUNURL|raw}}</script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-4 am-text-right">
                            <button type="submit" class="am-btn am-btn-primary am-radius">提交保存</button>
                            <buttom class="am-btn am-btn-danger am-radius" onclick="history.go(-1)">返回</buttom>
                        </div>
                        <div class="am-u-sm-8 am-u-md-6 am-u-end col-end">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <footer class="admin-content-footer">
        <hr>
        <p class="am-padding-left">© 2019 WHXFX</p>
    </footer>
</div>
{{/block}}

{{block name="js"}}
<!--<script src="/vendor/markdown/editormd.min.js"></script>             //文本编辑器-->
<!--<script src="/vendor/admin/js/editormd_config.js"></script>-->
<script type="text/javascript" src="/vendor/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/vendor/ueditor/ueditor.all.js"></script>

<script type="text/javascript">
    var ue = UE.getEditor('container',{
        retainOnlyLabelPasted: true, //粘贴只保留标签，去除标签所有属性
    });

    //     function getstring(){
    //
    //         document.getElementById('container').innerHTML=UE.getEditor('editor').getContent();
    //
    // //get.Content() 函数可以获得你所编辑的内容的html代码
    //     }
</script>


<script src="/vendor/admin/html5-fileupload/jquery.html5-fileupload.js"></script>   //图片上传
<script src="/vendor/admin/js/upload.js"></script>
{{/block}}
