<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
            <li><a href="/admin" class="{{$_home ?? ''}}"><span class="am-icon-home"></span> 首页</a></li>
            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span>直播教室管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub {{$_xfx_live ?? ''}}" id="collapse-nav">
                    <li><a href="{{:Url('/admin/Lives/index')}}" class="{{$_live ?? ''}}"><span class="am-icon-puzzle-piece"></span> 直播间管理</a></li>
                    <li><a href="{{:Url('/admin/Liveurls/index')}}" class="{{$_liveurl ?? ''}}"><span class="am-icon-check"></span> 直播课管理</a></li>
                </ul>
            </li>
            <li><a class="am-cf" data-am-collapse="{target: '#collapse-course'}"><span class="am-icon-table"></span> 在线课程<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub {{$_xfx_course ?? ''}}" id="collapse-course">
                    <li><a href="{{:Url('/admin/Courses/index')}}" class="{{$_course ?? ''}}"><span class="am-icon-puzzle-piece"></span> 课程信息</a></li>
                    <li><a href="{{:Url('/admin/Coursedesigns/index')}}" class="{{$_coursedesign ?? ''}}"><span class="am-icon-check"></span> 课程设计</a></li>
                </ul>
            </li>
            <li><a class="am-cf" data-am-collapse="{target: '#collapse-eduadmin'}"><span class="am-icon-table"></span> 教务管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub {{$_xfx_eduadmin ?? ''}}" id="collapse-eduadmin">
                    <li><a href="/admin/professions" class="{{$_profession ?? ''}}"><span class="am-icon-sign-out"></span> 专业管理</a></li>
                    <li><a href="/admin/Members" class="{{$_member ?? ''}}"><span class="am-icon-sign-out"></span> 学员管理</a></li>
                    <li><a href="/admin/Memberauths" class="{{$_memberauth ?? ''}}"><span class="am-icon-sign-out"></span> 课程权限管理</a></li>
                    <li><a href="/admin/Messages" class="{{$_message ?? ''}}"><span class="am-icon-sign-out"></span> 考务资讯</a></li>
                    <li><a href="/admin/teachers" class="{{$_teacher ?? ''}}"><span class="am-icon-sign-out"></span> 讲师管理</a></li>
                    <li><a href="/admin/banners" class="{{$_banner ?? ''}}"><span class="am-icon-sign-out"></span> banner轮播图</a></li>
                </ul>
            </li>
            <li><a href="javascript:;" class="{{$_face ?? ''}}"><span class="am-icon-pencil-square-o"></span> 面授培训</a></li>
            <li><a href="javascript:;"><span class="am-icon-sign-out"></span> 图书资源</a></li>
        </ul>

        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-bookmark"></span> 公告</p>
                <p>暂无公告</p>
            </div>
        </div>

        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-tag"></span> 123</p>
                <p>Welcome to the 新方向后台</p>
            </div>
        </div>
    </div>
</div>
