{{extend name="layout/application" /}}

{{block name="css"}}
<!--<link rel="stylesheet" href="/vendor/markdown/css/editormd.min.css"/>     //文本编辑器-->
{{/block}}

{{block name="content"}}
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">图书选择项价格管理</strong> /
            <!--<small>Create A New AdCategory</small>-->
        </div>
    </div>
    <hr>
    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-12">
            <form class="am-form" action="" method="post">
                <input type="hidden" name="_token" value="">
                <div class="am-g am-margin-top">
                    <div class="am-u-sm-offset-1 am-u-sm-2">
                        <h3>图书名称：</h3>
                    </div>
                    <div class=" am-u-sm-9" style="padding-left: 2rem">
                        {{$book.BOOKNAME}}
                    </div>
                </div>

                <div class="am-g am-margin-top">
                    <div class="am-u-sm-offset-1 am-u-sm-2">
                        <h3 style="margin-bottom: 0">价格管理：</h3>
                    </div>
                </div>

                <div class="am-g am-margin-top">
                    <div class="am-u-sm-offset-1 am-u-sm-2">
                        单价设置：
                    </div>
                </div>

                <div class="am-g am-margin-top">
                    <div class="am-u-sm-10 am-u-sm-centered">
                        <table class="am-table  am-table-hover table-main">
                            <thead>
                            <tr>
                                <!--<th class="table-check"><input type="checkbox" class="checked_all"/></th>-->
                                <th style="width: 8%" class="table-id">编号</th>
                                <th style="width: 40%">分类名</th>
                                <th>价格</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody class="tbstageajax">
                            {{foreach name="stages" id="stage"}}
                            <tr data-id="{{$stage.id}}" class="xParent">
                                <td style="line-height: 37px">{{$stage.id}}</td>
                                <td style="line-height: 37px">{{$stage.stageName}}</td>
                                <td>
                                    <input readonly="readonly" type="text" style="width: 60px;" name="price[]"
                                           class="price" value="{{$stage.price}}">
                                </td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-sm">
                                            <a class="removeredaonlyno am-btn am-btn-default am-btn-xs am-text-secondary"
                                               href="javascript:;" res="0">
                                                <span class="am-icon-pencil-square-o"></span> 编辑
                                            </a>
                                            <!--<a class="delstage am-btn am-btn-default am-btn-xs delete_category am-text-danger am-hide-sm-only"-->
                                            <!--href="javascript:;">-->
                                            <!--<span class="am-icon-trash-o"></span> 删除-->
                                            <!--</a>-->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/foreach}}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="am-g am-margin-top">
                    <div class="am-u-sm-offset-1 am-u-sm-2">
                        数量优惠价：
                    </div>
                    <div class="am-u-sm-8">
                        <div class="am-btn-group am-btn-group-sm">
                            <a type="button" class="am-btn am-btn-default am-text-success createpricetd"
                               href="javascript:;">
                                <span class="am-icon-plus"></span> 新增
                            </a>
                        </div>
                    </div>
                </div>

                <div class="am-g am-margin-top">
                    <div class="am-u-sm-10 am-u-sm-centered">
                        <table class="am-table  am-table-hover table-main">
                            <thead>
                            <tr>
                                <!--<th class="table-check"><input type="checkbox" class="checked_all"/></th>-->
                                <th style="width: 8%" class="table-id">编号</th>
                                <th style="width: 40%">单次购买数量</th>
                                <th>价格</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody class="tbcountajax createprice">
                            {{foreach name="counts" id="count"}}
                            <tr data-id="{{$count.id}}" class="xParent">
                                <td style="line-height: 37px">{{$count.id}}</td>
                                <td><input readonly="readonly" type="text" style="width: 260px;" name="stageName[]"
                                           class="count" value="{{$count.count}}"></td>
                                <td>
                                    <input readonly="readonly" type="text" style="width: 60px;" name="price[]"
                                           class="price" value="{{$count.price}}">
                                </td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-sm">
                                            <a class="removeredaonlyprice am-btn am-btn-default am-btn-xs am-text-secondary"
                                               href="javascript:;" res="0">
                                                <span class="am-icon-pencil-square-o"></span> 编辑
                                            </a>
                                            <!--<a class="delstage am-btn am-btn-default am-btn-xs delete_category am-text-danger am-hide-sm-only"-->
                                            <!--href="javascript:;">-->
                                            <!--<span class="am-icon-trash-o"></span> 删除-->
                                            <!--</a>-->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/foreach}}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="am-g am-margin-top" style="margin-top: 2.6rem">
                    <div class="am-u-sm-4 am-u-md-4 am-text-right">
                        <buttom class="am-btn am-btn-danger am-radius" onclick="history.go(-1)">确认</buttom>
                    </div>
                    <div class="am-u-sm-8 am-u-md-6 am-u-end col-end">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer class="admin-content-footer" style="margin-top: 2rem">
        <hr>
        <p class="am-padding-left">© 2019 WHXFX</p>
    </footer>
</div>
{{/block}}

{{block name="js"}}
<!--<script src="/vendor/markdown/editormd.min.js"></script>             //文本编辑器-->
<!--<script src="/vendor/admin/js/editormd_config.js"></script>-->
<script type="text/javascript" src="/vendor/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/vendor/ueditor/ueditor.all.js"></script>

<script type="text/javascript">
    //     var ue = UE.getEditor('container',{
    //
    //     });
    //
    //     function getstring(){
    //
    //         document.getElementById('container').innerHTML=UE.getEditor('editor').getContent();
    //
    // //get.Content() 函数可以获得你所编辑的内容的html代码
    //     }
</script>
<script>
    $(function () {
        // 权限更改确定和编辑
        $(".removeredaonlyno").click(function () {
            var i = $(this).attr("res");
            _this = $(this);
            if (i == 0) {
                $(this).attr("res", "1");
                $(this).html("<span class=\"am-icon-check-circle-o\"></span> 确定");
                $(this).parents('td').siblings('td').children('input').attr("readOnly", false);
            } else {
                if (confirm('是否要提交更改?')) {
                    var info = {
                        'id': $(this).parents('tr').data('id'),
                        'bookId': "{{$book.ID}}",
                        // 'stageName': $(this).parents('td').siblings('td').children('.stageName').val(),
                        'price': $(this).parents('td').siblings('td').children('.price').val(),
                    }
                    // console.log(info);return
                    $.ajax({
                        type: 'POST',
                        url: '/admin/Books/updatestageprice',
                        data: info,
                        success: function (data) {
                            // console.log(data);return;
                            if (data.code == 0) {
                                alert(data.msg);
                                return false;
                            }
                            if (data.status == 1) {
                                _this.attr("res", "0");
                                _this.html("<span class=\"am-icon-pencil-square-o\"></span> 编辑");
                                _this.parents('td').siblings('td').children('input').attr("readOnly", true);
                                alert(data.msg);
                            } else {
                                alert(data.msg);
                                return false
                            }
                        }
                    })
                } else {
                    $(this).attr("res", "0");
                    $(this).html("<span class=\"am-icon-pencil-square-o\"></span> 编辑");
                    $(this).parents('td').siblings('td').children('input').attr("readOnly", true);
                }
            }
        });

        // 数量优惠价更改确定和编辑
        $(".removeredaonlyprice").click(function () {
            var i = $(this).attr("res");
            _this = $(this);
            if (i == 0) {
                $(this).attr("res", "1");
                $(this).html("<span class=\"am-icon-check-circle-o\"></span> 确定");
                $(this).parents('td').siblings('td').children('input').attr("readOnly", false);
            } else {
                if (confirm('是否要提交更改?')) {
                    var info = {
                        'id': $(this).parents('tr').data('id'),
                        'bookId': "{{$book.ID}}",
                        'count': $(this).parents('td').siblings('td').children('.count').val(),
                        'price': $(this).parents('td').siblings('td').children('.price').val(),
                    }
                    // console.log(info);return
                    $.ajax({
                        type: 'POST',
                        url: '/admin/Books/savecountprice',
                        data: info,
                        success: function (data) {
                            // console.log(data);return;
                            if (data.code == 0) {
                                alert(data.msg);
                                return false;
                            }
                            if (data.status == 1) {
                                _this.attr("res", "0");
                                _this.html("<span class=\"am-icon-pencil-square-o\"></span> 编辑");
                                _this.parents('td').siblings('td').children('input').attr("readOnly", true);
                                alert(data.msg);
                            } else {
                                alert(data.msg);
                                return false
                            }
                        }
                    })
                } else {
                    $(this).attr("res", "0");
                    $(this).html("<span class=\"am-icon-pencil-square-o\"></span> 编辑");
                    $(this).parents('td').siblings('td').children('input').attr("readOnly", true);
                }
            }
        });

        //新增阶段td并且取消
        $(".createpricetd").click(function () {
            var li = "";
            li += "<tr data-id=\"\" class=\"xParent\">\n" +
                "                                <td style=\"line-height: 37px\"></td>\n" +
                "                                <td><input type=\"text\" style=\"width: 260px;\" name=\"count[]\"\n" +
                "                                           class=\"count\" value=\"\"></td>\n" +
                "                                <td>\n" +
                "                                    <input type=\"text\" style=\"width: 60px;\" name=\"price[]\"\n" +
                "                                           class=\"price\" value=\"\">\n" +
                "                                </td>\n" +
                "                                <td>\n" +
                "                                    <div class=\"am-btn-toolbar\">\n" +
                "                                        <div class=\"am-btn-group am-btn-group-sm\">\n" +
                "                                            <a class=\"querenstage am-btn am-btn-default am-btn-xs am-text-secondary\"\n" +
                "                                               href=\"javascript:;\" res=\"0\">\n" +
                "                                                <span class=\"am-icon-pencil-square-o\"></span> 确认\n" +
                "                                            </a>\n" +
                "                                            <a class=\"del quxiao am-btn am-btn-default am-btn-xs delete_category am-text-danger am-hide-sm-only\"\n" +
                "                                               href=\"javascript:;\">\n" +
                "                                                <span class=\"am-icon-trash-o\"></span> 取消\n" +
                "                                            </a>\n" +
                "                                        </div>\n" +
                "                                    </div>\n" +
                "                                </td>\n" +
                "                            </tr>";
            $(".createprice").append(li);//将拼接出来的加入到指定的模块
            $(".quxiao").click(function () {
                $(this).parents("tr").remove();
            })
            $(".querenstage").click(function () {
                _this  =$(this);
                var info = {
                    'id': $(this).parents('tr').data('id'),
                    'bookId': "{{$book.ID}}",
                    'count': $(this).parents('td').siblings('td').children('.count').val(),
                    'price': $(this).parents('td').siblings('td').children('.price').val(),
                }
                // console.log(info);return;
                if (confirm('确定要提交吗?')) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/Books/savecountprice',
                        data: info,
                        success: function (data) {
                            // console.log(data);return;
                            if (data.code == 0) {
                                alert(data.msg);
                                return false;
                            }
                            if (data.status == 1) {
                                alert(data.msg);
                                _this.attr("res", "0");
                                _this.html("<span class=\"am-icon-pencil-square-o\"></span> 编辑");
                                _this.parents('td').siblings('td').children('input').attr("readOnly", true);
                                window.location.reload();
                            } else {
                                alert(data.msg);
                                return false
                            }
                        }
                    })
                }
            })
        });
    })
</script>
<!--//图片上传js-->
<script src="/vendor/admin/html5-fileupload/jquery.html5-fileupload.js"></script>
<!--//普通模块图片上传js-->
<!--<script src="/vendor/admin/js/upload.js"></script>-->
<!--<script src="/vendor/admin/js/upload123.js"></script>-->
<!--//课程信息图片js-->
<script src="/vendor/admin/js/courseimgupload.js"></script>
<script src="/vendor/admin/js/courseupload.js"></script>
{{/block}}
