/*
KISSY CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
 */

/** 清除内外边距 **/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
/* structural elements 结构元素 */
dl,
dt,
dd,
ul,
ol,
li,
/* list elements 列表元素 */
pre,
/* text formatting elements 文本格式元素 */
form,
fieldset,
legend,
button,
input,
textarea,
/* form elements 表单元素 */
th,
td

/* table elements 表格元素 */
  {
  margin: 0;
  padding: 0;

  /* 20181217添加添加  */
  box-sizing: border-box;
}

/** 设置默认字体 **/
body,
button,
input,
select,
textarea

/* for ie */
  {
  font: 16px/1.5 Microsoft YaHei, arial, \5b8b\4f53, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

/* 将斜体扶正 */
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}

/* 统一等宽字体 */
small {
  font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul,
ol,
li {
  list-style: none;
}

/** 重置文本格式元素 **/
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/** 重置表单元素 **/
legend {
  color: #000;
}

/* for ie6 */
fieldset,
img {
  border: 0;
}

/* img 搭车：让链接里的 img 无边框 */
button,
input,
select,
textarea {
  font-size: 100%;
}

/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 清除浮动 */
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/* -----------------------------------Reset End------------------------------------ */
.container-fluid {
  position: relative;
  padding: 0;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

.toolBar {
  background: #fff;
  line-height: 100px;
  height: 100px;
}

.logo img {
  width: 100%;
}

.toolBar .pull-right {
  text-align: right;
}


/* form框 */
.content{
  background: #f8f8f8;
}
.content .head{
  line-height: 50px;
  width: 1100px;
  margin: 0 auto;
  font-weight: 600;
}
.fp-box{
  width: 1102px;
  min-height: 450px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #666;
  border-radius: 4px;
  padding: 50px 100px;
  background: #fff;
  position: relative;
}
.fp-box .alert-danger {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 160px;
  margin-left: -80px;
  margin-top: -28px;
  font-weight: 600;
  text-align: center;
  display: none;
}
.progress-box {
  position: relative;
  height: 100px;
  overflow: hidden;
  color: #333;
}
.progress-box .line{
  position: absolute;
  height: 2px;
  width: 840px;
  top: 25px;
  left: 25px;
  background: #333;
  z-index: 4;
}
.progress-box li{
  position: absolute;
  text-align: center;
  z-index: 5;
  margin: 4px;
}
.progress-box li:nth-of-type(2){
  left: 50%;
  margin-left: -30px;
}
.progress-box li:nth-of-type(3){
  right: 0
}
.progress-box li span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  display: inline-block;
  font-size: 26px;
  background: #fff;
  margin-bottom: 14px;
  border: 1px solid #333;
}
.progress-box li.active span{
  background: #2073b7;
  color: #fff;
  border-color: #2073b7;
}
.progress-box li.active p{
  color: #2073b7;
}
.confirm-wrap {
  margin: 50px 0;
}
.confirm-form-btn,.password-form-btn{
  width: 100%;
}

/* 完成 */
.reset-complete{
  text-align: center;
}
.complete-box{
  width: 270px;
  margin: 0 auto;
  height: 100px;
  position: relative;
}
.complete-box .left{
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -50px;
  color: #297de8;
}
.complete-box .left span{
  font-size: 50px;
  line-height: 100px;
}
.complete-box .right{
  margin-left: 70px;
  padding-top: 26px;
  color: #333;
}
.complete-box .right p{
  color: #297de8;
  font-weight: 600;
}
.re-login{
  color: red;
}
