/* 面包屑导航 */
.breadcrumb-path {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1;
}

.breadcrumb {
  background: #fff;
  margin: 0;
}

/* 课程详情 */
.buy-content .wrap {
  background: #eee;
  padding: 30px;
}
.buy-content .img-box img{
  width: 100%;
}
.buy-des .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 18px;
}

.buy-des p {
  font-size: 16px;
  line-height: 26px;
  color: #666;
  margin-bottom: 10px;
}

.gifts b {
  font-weight: 600;
}

.price-table {
  background: #fff;
  height: 56px;
  border-radius: 4px;
  position: relative;
  padding: 10px 20px;
  overflow: hidden;
}

.price-table .real-price {
  font-weight: 600;
  color: red;
}

.price-table .original-price {
  font-size: 12px;
  text-decoration: line-through;
}

.price-table .class-number {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -28px;
  line-height: 56px;
}

.buy-btns {
  margin: 20px 0;
  font-size: 16px;
  position: relative;
}

.buy-btns .buy-now:hover,
.buy-btns .buy-ask:hover {
  opacity: .8;
  color: #fff;
}

.buy-now {
  background: rgb(255, 26, 0);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(255, 26, 0, 1) 0%, rgba(242, 141, 0, 1) 0%, rgba(255, 26, 0, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255, 26, 0, 1) 0%, rgba(242, 141, 0, 1) 0%, rgba(255, 26, 0, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255, 26, 0, 1) 0%, rgba(242, 141, 0, 1) 0%, rgba(255, 26, 0, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a00', endColorstr='#ff1a00', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  font-size: 16px;
}

.buy-done {
  background: #ccc;
  color: #666;
  font-size: 16px;
  display: none;
}

.buy-ask {
  background: rgb(21, 173, 219);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(21, 173, 219, 1) 0%, rgba(45, 201, 229, 1) 0%, rgba(18, 126, 234, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(21, 173, 219, 1) 0%, rgba(45, 201, 229, 1) 0%, rgba(18, 126, 234, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(21, 173, 219, 1) 0%, rgba(45, 201, 229, 1) 0%, rgba(18, 126, 234, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#15addb', endColorstr='#127eea', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  font-size: 16px;
}

.buy-btns .teacher {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -12px;
}

/* 课程介绍 */
.online-des {
  margin-top: 50px;
}

.left-nav {
  height: 30px;
  line-height: 30px;
  border-bottom: 2px solid #ccc;
}

.left-nav li {
  text-align: center;
  display: inline-block;
  padding: 0 20px;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
}

.left-nav li.active {
  color: #2073b7;
  border-bottom: 2px solid #409eff;
}

.left-nav li:hover {
  color: #2073b7;
  cursor: pointer;
}

.left-content {
  margin-top: 20px;
}

.left-item {
  display: none;
}

/* 回看、预告 */
.broadcast-item{
  position: relative;
  padding: 20px;
  line-height: 30px;
}
.broadcast-item:nth-of-type(even){
  background: #eee;
}
.broadcast-item .title{
  margin-right: 130px;
}
.notice{
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -15px;
}
.playback , .living{
  background: rgb(21, 173, 219);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(21, 173, 219, 1) 0%, rgba(45, 201, 229, 1) 0%, rgba(18, 126, 234, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(21, 173, 219, 1) 0%, rgba(45, 201, 229, 1) 0%, rgba(18, 126, 234, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(21, 173, 219, 1) 0%, rgba(45, 201, 229, 1) 0%, rgba(18, 126, 234, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#15addb', endColorstr='#127eea', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  padding: 0 20px;
  line-height: 30px;
  font-size: 16px;
}
.playback:hover , .living:hover{
  opacity: .7;
  color: #fff;
}
.advance-notice,.playback,.living{
  display: none;
}
/* 空数据区域 */
.blank {
  height: 300px;
  text-align: center;
  color: #6f7180;
  display: none;
}

/* 右侧推荐 */
.recommend .header {
  height: 30px;
  line-height: 30px;
  border-bottom: 2px solid #ccc;
  text-align: center;
  font-size: 18px;
}

.right-content {
  margin-top: 20px;
}

.content-col {
  margin-bottom: 30px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  /* border: 1px solid #bbb; */
}

.content-col:hover {
  box-shadow: 1px 1px 6px #ccc;
  transform: translateY(-10px);
  transition: all 0.5s;
}

.content-col .title:hover {
  text-decoration: underline;
  color: #337ab7;
}

.imgbox img {
  width: 100%;
}

.col-des {
  padding: 14px 14px 4px;
}

.col-des .title {
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.col-des .real-price {
  color: red;
  font-size: 13px;
  line-height: 18px;
}

.col-des .real-price .real-price-number {
  font-size: 16px;
}

.original-price {
  font-size: 12px;
  text-decoration: line-through;
  padding-left: 10px;
  color: #666;
}

.class-number {
  float: right;
}

.main-speaker {
  font-size: 14px;
  line-height: 26px;
  position: relative;
}

.speaker {
  display: inline-block;
  /* 省略号设置 */
  overflow: hidden;
  white-space: nowrap;
  width: 66%;
  text-overflow: ellipsis;
}

.learn-members {
  position: absolute;
  right: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 33.99%;
  text-align: right;
  text-overflow: ellipsis;
}


.breadcrumb {
   margin: 20px 0;
 }
.left{
  float: left;
}
.right{
  float: right;
}
.price{
  margin-bottom: 0;
}

.price span{
  font-size: 14px;
}
.buyContent {
  background-color: #eee;
  height: 380px;
  padding: 30px 30px;
  display: flex;
  margin-bottom: 40px;
}
.buyContent .left {
  width: 430px;
  height: 250px;
  background-color: #fff;
  margin-right: 40px;
}
.buyContent .left img {
  width: 100%;
  height: 320px;
}
.buyContent .right {
  width: 615px;
}
.buyContent .right p:nth-child(1) {
  font-size: 22px;
  font-weight: bold;
}
.buyContent .right p:nth-child(2) {
  font-size: 16px;
  color: #666;
  text-indent: 28px;
}
.buyContent .right p:nth-child(3) {
  display: flex;
  justify-content: space-between;
  color: #666;
}
.buyContent .right p:nth-child(4) {
  font-size: 16px;
}
.buyprice {
  width: 650px;
  height: 55px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.buyprice-top{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  line-height: 50px;
}
.buyprice-top .buyprice-color {
  font-size: 18px;
  color: red;
}

.gift {
  display: flex;
}

.gift a {
  height: 25px;
  line-height: 25px;
  display: inline-block;
  margin: 0 3px 12px 0;
  padding: 0px 10px;
  box-sizing: border-box;
  border: 1px solid #999;
  font-size: 14px;
}
.gift a:hover{
  background-color: #0A9DE3;
  color: #fff;
}
.giftChoose{
  background-color: #0A9DE3;
  color: #fff;
}
.bold {
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  padding-bottom: 10px;
}

.price-top .price-color {
  font-weight: bold;
  font-size: 20px;
  color: red;
}
.right-bottm{
  display: flex;
  justify-content: space-between;
}
.zhibo {
  display: flex;
  justify-content: space-between;
}

.zhibo .left {
  width: 850px;
  min-height: 850px;
}

.zhibo .left .title {
  height: 30px;
  border-bottom: 1px solid #2273b5;
  margin-bottom: 10px;
}

.zhibo .left .title span {
  display: block;
  font-size: 16px;
  width: 150px;
  height: 30px;
  padding-top: 5px;
  padding-left: 45px;
  background-image: url("../../assets/imgs/home_2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
}

.zhibo .left .liveCon {
  padding: 0 10px;
}

.blank p{
  text-align: center;
  color: #6f7180;
}

.zhibo .left .liveCon ul {
  width: 100%;
}

.zhibo .left .liveCon ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 10px;
}

.zhibo .left .liveCon ul li:hover {
  background-color: rgb(245, 247, 250);
}

.zhibo .left .liveCon ul li a {
  font-size: 16px;
  color: #666;
}

.zhibo .leftCon {
  margin-bottom: 20px;
}

.zhibo .leftCon .bookList {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.zhibo .leftCon .bookList .bookListLeft {
  width: 270px;
  margin-right: 30px;
}

.zhibo .leftCon .bookList .bookListLeft img {
  width: 100%;
  display: block;
}

.zhibo .leftCon .bookList .bookListRight :nth-child(1) {
  font-size: 16px;
}

.zhibo .right {
  width: 270px;
}

.contentRow {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.contentRow .contentCol {
  width: 270px;
}

.contentCol img {
  height: 155px;
  width: 100%;
}

.contentCol p {
  display: flex;
  justify-content: space-between;
}

.right .tuijian .top {
  padding: 10px;
  font-weight: bold;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.right .tuijian .top span{
  font-size: 18px;
}

.zhibo-list {
  /*border-bottom: 1px solid #f3f4f5;*/
  margin-top: -2px;
}

.zhibo-list li{
  padding: 20px;
}

.zhibo-list li:nth-child(2n) {
  background-color: #f3f4f5;
}

.preview-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_blue {
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  background: linear-gradient(left, #059be3, #1667a7);
}



/* 回放列表 */
.zhibo-list {
  background: #eee;
}

.zhibo-list li {
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  margin: 0 20px;
  cursor: pointer;
}
.zhibo-list li:last-child {
  border: none;
}

/* .zhibo-list li:nth-child(2n) {
  background-color: #f3f4f5;
} */
.zhibo-des {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.zhibo-des span {
  font-size: 14px;
}
.zhibo-des .zhibo-time {
  font-weight: bold;
  max-width: 150px;
}
.zhibo-des .zhibo-stage {
  max-width: 200px;
  text-align: center;
}
.zhibo-des .zhibo-speaker {
  max-width: 150px;
  text-align: center;
}
.zhibo-content {
  line-height: 56px;
  height: 56px;
  display: flex;
}
.zhibo-title {
  width: 700px;
}
.zhibo-btns button {
  widows: auto;
}