{{extend name="layout/application" /}}

{{block name="css"}}
<!--<link rel="stylesheet" href="/vendor/markdown/css/editormd.min.css"/>     //文本编辑器-->
{{/block}}

{{block name="content"}}
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">新增面授</strong> /
            <!--<small>Create A New AdCategory</small>-->
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-12">
            <form class="am-form" action="{{:Url('admin/Faces/save')}}" method="post">
                <input type="hidden" name="_token" value="">

                <div class="am-tabs am-margin" data-am-tabs>
                    <ul class="am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active"><a href="#tab1">通用信息</a></li>
                        <li><a href="#tab2">面授详情</a></li>
                    </ul>

                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-fade am-in am-active" id="tab1" style="min-height: 600px">
                            <div class="am-g am-margin-top">
                                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                    专业方向
                                </div>
                                <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                                    <select data-am-selected="{btnWidth: '100%',  btnStyle: 'secondary', btnSize: 'sm', maxHeight: 360, searchBox: 1}"
                                            name="MAJORID" style="display: none;">
                                        <option value="">顶级分类</option>
                                        {{foreach name="categories" id="category"}}
                                        <option value="{{$category.ID}}">{{$category.MAJOR_NAME}}</option>
                                        {{/foreach}}
                                    </select>
                                </div>
                            </div>

                            <div class="am-g am-margin-top">
                                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                    面授名称
                                </div>
                                <div class="am-u-sm-8 am-u-md-4">
                                    <input type="text" class="am-input-sm" name="COURSENAME" value="">
                                </div>
                                <div class="am-hide-sm-only am-u-md-6"></div>
                            </div>

                            <div class="am-g am-margin-top">
                                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                    面授简介
                                </div>
                                <div class="am-u-sm-8 am-u-md-8 am-u-end col-end">
                                    <textarea rows="3" name="FACETRAINDETAILS"></textarea>
                                </div>
                            </div>

                            <div class="am-g am-margin-top">
                                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                    咨询电话
                                </div>
                                <div class="am-u-sm-8 am-u-md-2">
                                    <input type="text" class="am-input-sm" name="COUNSELPHONE" value="">
                                </div>
                                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                    推荐排序
                                </div>
                                <div class="am-u-sm-8 am-u-md-2 am-u-end">
                                    <input type="text" class="am-input-sm" name="RECOMMENDSORT" value="99">
                                </div>
                            </div>

                            <div class="am-g am-margin-top">
                                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                    面授地点
                                </div>
                                <div class="am-u-sm-4 am-u-md-2 am-u-end col-end">
                                    <select id="s_province" data-am-selected="{btnWidth: '100%',  btnStyle: 'secondary', btnSize: 'sm', maxHeight: 160, searchBox: 1}"
                                            name="province" style="display: none;">
                                    </select>
                                </div>
                                <div class="am-u-sm-4 am-u-md-2 am-u-end col-end">
                                    <select id="s_city" data-am-selected="{btnWidth: '100%',  btnStyle: 'secondary', btnSize: 'sm', maxHeight: 160, searchBox: 1}"
                                            name="city" style="display: none;">
                                    </select>
                                </div>
                            </div>

                            <div class="am-g am-margin-top">
                                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                    列表图片
                                </div>
                                <div class="am-u-sm-8 am-u-md-8 am-u-end col-end">
                                    <div class="am-form-group am-form-file new_thumb">
                                        <button type="button" class="am-btn am-btn-success am-btn-sm">
                                            <i class="am-icon-cloud-upload" id="loading"></i> 上传新的列表图片
                                        </button>
                                        <input type="file" id="image_upload">
                                        <input type="hidden" name="imgUrl">
                                    </div>
                                    <div>
                                        <img src="" id="img_show" style="max-height: 200px;">
                                    </div>
                                    <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed am-no-layout">
                                </div>
                            </div>

                            <div class="am-g am-margin-top">
                                <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                    详情图片
                                </div>
                                <div class="am-u-sm-8 am-u-md-8 am-u-end col-end">
                                    <div class="am-form-group am-form-file new_thumb">
                                        <button type="button" class="am-btn am-btn-success am-btn-sm upload_img1">
                                            <i class="am-icon-cloud-upload" id="loading_img"></i> 上传新的详情图片
                                        </button>
                                        <input type="file" id="image_upload1">
                                        <input type="hidden" name="detailsImgUrl">
                                    </div>
                                    <div>
                                        <img src="" id="img_show1" style="max-height: 200px;">
                                    </div>
                                    <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed am-no-layout">
                                </div>
                            </div>

                        </div>

                        <div class="am-tab-panel am-fade" id="tab2">
                            <div class="am-g am-margin-top-sm">
                                <div class="am-u-sm-12 am-u-md-12">
                                    <!--<div id="markdown">-->
                                    <!--<textarea rows="6" name="content" style="display:none;"></textarea>-->
                                    <!--</div>-->
                                    <script id="container" name="FACETRAINWORD" type="text/plain">
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-margin">
                    <button type="submit" class="am-btn am-btn-primary am-radius">提交保存</button>
                    <buttom class="am-btn am-btn-danger am-radius" onclick="history.go(-1)">返回</buttom>
                </div>
            </form>
        </div>
    </div>
</div>
{{/block}}

{{block name="js"}}
<!--<script src="/vendor/markdown/editormd.min.js"></script>             //文本编辑器-->
<!--<script src="/vendor/admin/js/editormd_config.js"></script>-->
<script type="text/javascript" src="/vendor/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/vendor/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="/vendor/admin/js/provincecity.js"></script>
<script type="text/javascript">_init_area();</script>


<script type="text/javascript">
    var ue = UE.getEditor('container',{

    });

    function getstring(){

        document.getElementById('container').innerHTML=UE.getEditor('editor').getContent();

//get.Content() 函数可以获得你所编辑的内容的html代码
    }
</script>


<script src="/vendor/admin/html5-fileupload/jquery.html5-fileupload.js"></script>   //图片上传
<!--//课程信息图片js-->
<script src="/vendor/admin/js/courseimgupload.js"></script>
<script src="/vendor/admin/js/courseupload.js"></script>
{{/block}}
