{{extend name="layout/application" /}}
{{block name="content"}}
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">面授管理</strong>
                <!--<small>Table</small>-->
            </div>
        </div>

        <hr>

        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-12">
                <div class="am-btn-toolbar">
                    <form class="am-form-inline" role="form" method="get">
                        <style>
                            .teacher_search_span {
                                font-size: 14px;
                            }

                            .am-selected {
                                width: 120px;
                            }

                            .am-table > tbody > tr > td {
                                line-height: 2.6;
                                text-align: center;
                            }

                            .am-table > thead > tr > th {
                                line-height: 3;
                                text-align: center;
                            }
                        </style>
                        <div class="am-u-sm-12">
                            <div class="am-form-group">
                                <span class="teacher_search_span">面授名称：</span>
                                <input type="text" class="am-form-field am-input-sm" name="name"
                                       style="width: 160px"
                                       placeholder="课程名称"
                                       value="{{empty name='$condition.name'}}  {{else /}}{{$condition.name}}{{/empty}}">
                            </div>
                            <div class="am-form-group">
                                <span class="teacher_search_span">专业方向：</span>
                                <select data-am-selected="{btnSize: 'sm'}" name="category_id">
                                    <option value=""></option>
                                    {{foreach name="categories" id="category"}}
                                    <option value="{{$category.ID}}"
                                            {{empty name='$condition.category_id' }} {{else
                                    /}} {{if $category.ID ==$condition.category_id}} selected
                                    {{/if}}{{/empty}}
                                    >{{$category.MAJOR_NAME}}</option>
                                    {{/foreach}}
                                </select>
                            </div>
                            <div class="am-form-group">
                                <span class="teacher_search_span">面授地址：</span>
                                <select id="s_province" data-am-selected="{btnSize: 'sm', maxHeight: 160, searchBox: 1}"
                                        name="province" style="display: none;">
                                </select>
                                <select id="s_city" data-am-selected="{btnSize: 'sm', maxHeight: 160, searchBox: 1}"
                                        name="city" style="display: none;">
                                </select>
                            </div>
                            <button type="submit" class="am-btn am-btn-default am-btn-sm">查询</button>
                            <a href="/admin/faces" class="am-btn am-btn-default am-btn-sm">重置</a>
                        </div>
                    </form>

                    <div class="am-u-sm-12 am-u-md-12" style="margin-top: 1.5rem">
                        <div class="am-btn-group am-btn-group-xs">
                            <a type="button" class="am-btn am-btn-default" href="{{:Url('admin/Faces/create')}}">
                                <span class="am-icon-plus"></span> 新增
                            </a>
                            <a class="del_all am-btn am-btn-default am-btn-xs delete_all am-text-danger am-hide-sm-only"
                               href="javascript:;">
                                <span class="am-icon-trash-o"></span> 删除
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form">
                    <table class="am-table  am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="table-check"><label class="am-checkbox am-warning"><input type="checkbox"
                                                                                                 data-am-ucheck
                                                                                                 class="checked_all"/></label>
                            </th>
                            <th style="width: 5%" class="table-id">编号</th>
                            <th style="width: 20%;">面授名称</th>
                            <th>专业方向</th>
                            <th>面授地址</th>
                            <th>推荐排序</th>
                            <th>咨询电话</th>
                            <!--<th class="table-is-show am-hide-sm-only">是否显示</th>-->
                            <!--<th class="table-sort-order am-hide-sm-only" style="width:8%">排序</th>-->
                            <th class="table-set">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{foreach name="faces" id="face"}}
                        <tr data-id="{{$face.ID}}" class="xParent">
                            <td><label class="am-checkbox am-warning"><input type="checkbox" class="checked_id"
                                                                             name="checked_id[]" data-am-ucheck
                                                                             value="{{$face.ID}}"/></label></td>
                            <td>{{$face.ID}}</td>
                            <td>{{$face.COURSENAME}}</td>
                            <td>{{$face.facepro.MAJOR_NAME}}</td>
                            <td>{{$face.FACETRAINADDRESS}}</td>
                            <td><input type="text" style="width: 80px;" name="sort_order[]" class="sort_order"
                                       value="{{$face.RECOMMENDSORT}}"></td>
                            <td>{{$face.COUNSELPHONE}}</td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <a class="am-btn am-btn-default am-btn-xs am-text-success" href="{{:Url('admin/Faces/read',['id'=>$face.ID])}}">
                                            <span class="am-icon-plus"></span> 查看
                                        </a>
                                        <a class="am-btn am-btn-default am-btn-xs am-text-secondary"
                                           href="{{:Url('admin/Faces/edit',['id'=>$face.ID])}}">
                                            <span class="am-icon-pencil-square-o"></span> 编辑
                                        </a>
                                        <a class="del am-btn am-btn-default am-btn-xs delete_category am-text-danger am-hide-sm-only"
                                           href="javascript:;">
                                            <span class="am-icon-trash-o"></span> 删除
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{/foreach}}
                        </tbody>
                    </table>
                </form>
                <div class="am-cf">
                    <!--{{:count($faces)}}不需要分页的时候直接统计数量-->
                    共 {{:count($faces)}} 条记录
                    <div class="am-fr">
                        <ul class="am-pagination">
                            {{$faces|raw}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="admin-content-footer">
        <hr>
        <p class="am-padding-left">© 2019 WHXFX</p>
    </footer>

</div>
{{/block}}

{{block name="js"}}
<script type="text/javascript" src="/vendor/admin/js/provincecity.js"></script>
<script type="text/javascript">_init_area();</script>

<script>
    $(function () {
        //单条删除
        $(".del").click(function () {
            var id = $(this).parents('tr').data('id');
            // console.log(id);return
            var _this = $(this);
            if (confirm('确定要删除吗?')) {
                $.ajax({
                    type: 'DELETE',
                    url: '/admin/Faces/delete/' + id,
                    data: {id: id},
                    success: function (data) {
                        // console.log(data);return;
                        if (data.status == 1) {
                            // _this.parents('tr').fadeOut(300);
                            _this.parents('tr').remove();
                        } else {
                            alert(data.msg);
                            return false
                        }
                    }
                })
            }
            return false;
        })

        //全选反选
        $(".checked_all").click(function () {
            var checked = $(this).prop('checked');
            $(".checked_id").prop('checked', checked);
        })
        //多条删除
        $(".del_all").click(function () {
            var length = $(".checked_id:checked").length;
            if (length == 0) {
                alert('请至少选择一条记录');
                return false;
            }
            var check_id = $(".checked_id:checked").serialize();
            // console.log(check_id);

            if (confirm('确定要删除吗?')) {
                $.ajax({
                    type: 'DELETE',
                    url: '/admin/Faces/delete_all/',
                    data: check_id,
                    success: function (data) {
                        // console.log(data);
                        if (data.status == 1) {
                            // _this.parents('tr').fadeOut(300);
                            $(".checked_id:checked").each(function () {
                                $(this).parents("tr").remove();
                            })
                        } else {
                            alert(data.msg);
                            return false
                        }
                    }
                })
            }
            return false;
        })

        //排序
        // $(".sort_order").change(function () {
        //     var id = $(this).parents('tr').attr('data-id');
        //     var sort_order = $(this).val();
        //     // console.log(sort_order);return;
        //
        //     $.ajax({
        //         type: 'POST',
        //         url: '/admin/Messagecategories/sort_order/' + id,
        //         data: {
        //             id: id,
        //             sort_order: sort_order
        //         },
        //         success: function () {
        //             window.location.reload();
        //         }
        //     })
        //
        //     return false;
        // })
        //
        // //是否显示
        // $(".change_is_show").click(function () {
        //     var id = $(this).parents('tr').attr('data-id');
        //     var attr = $(this).parents('td').data('is_show');
        //     // console.log(attr);
        //     var _this = $(this);
        //
        //     $.ajax({
        //         type: 'POST',
        //         url: '/admin/Messagecategories/change_show/' + id,
        //         data: {
        //             id: id,
        //             attr: attr
        //         },
        //         success: function () {
        //             _this.toggleClass('am-icon-check am-icon-close');
        //         }
        //     })
        //
        //     return false;
        // })
    })
</script>
{{/block}}