{{extend name="layout/application" /}}

{{block name="css"}}
<!--<link rel="stylesheet" href="/vendor/markdown/css/editormd.min.css"/>     //文本编辑器-->
{{/block}}

{{block name="content"}}
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">编辑课程一级分类</strong> /
            <!--<small>Create A New AdCategory</small>-->
        </div>
    </div>
    <hr>
    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-12">
            <form class="am-form" action="" method="post">
                <input type="hidden" name="_token" value="">
                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        课程名称：
                    </div>
                    <div class="am-u-sm-8 am-u-md-8">
                        {{$course.courseName}}
                    </div>
                </div>

                <div class="am-g am-margin-top">
                    <div class="am-u-sm-2 am-u-sm-offset-1" style="padding: 0">
                        <div class="am-btn-group am-btn-group-sm">
                            <a type="button" class="am-btn am-btn-default am-text-success createcatalogtd" href="javascript:;">
                                <span class="am-icon-plus"></span> 新增
                            </a>
                        </div>
                    </div>
                </div>

                <div class="am-g am-margin-top">
                    <div class="am-u-sm-11 am-u-sm-centered">
                        <table class="am-table  am-table-hover table-main">
                            <thead>
                            <tr>
                                <!--<th class="table-check"><input type="checkbox" class="checked_all"/></th>-->
                                <th style="width: 10%" class="table-id">编号</th>
                                <th style="width: 20%;">分类名</th>
                                <th>排序</th>
                                <th>操作</th>
                                <!--<th class="table-is-show am-hide-sm-only">是否显示</th>-->
                                <!--<th class="table-sort-order am-hide-sm-only" style="width:8%">排序</th>-->
                                <!--<th class="table-set">操作</th>-->
                            </tr>
                            </thead>
                            <tbody class="createmulu">
                            {{foreach $catalogs as $catalog}}
                            <tr data-id="{{$catalog.id}}" class="xParent">
                                <td style="line-height: 37px">{{$catalog.id}}</td>
                                <td><input readonly="readonly" type="text" style="width: 260px;" name="muluName"
                                           class="muluName" value="{{$catalog.muluName}}"></td>
                                <td>
                                    <input readonly="readonly" type="text" style="width: 60px;" name="recommendSort[]"
                                           class="sort_order" value="{{$catalog.recommendSort}}">
                                </td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-sm">
                                            <a class=" removeredaonlyno am-btn am-btn-default am-btn-xs am-text-secondary"
                                               href="javascript:;" res="0">
                                                <span class="am-icon-pencil-square-o"></span> 编辑
                                            </a>
                                            <a class="delcatalog am-btn am-btn-default am-btn-xs delete_category am-text-danger am-hide-sm-only"
                                               href="javascript:;">
                                                <span class="am-icon-trash-o"></span> 删除
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/foreach}}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="am-g am-margin-top" style="margin-top: 2.6rem">
                    <div class="am-u-sm-4 am-u-md-4 am-text-right">
                        <buttom class="am-btn am-btn-danger am-radius" onclick="history.go(-1)">确认</buttom>
                    </div>
                    <div class="am-u-sm-8 am-u-md-6 am-u-end col-end">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer class="admin-content-footer" style="margin-top: 2rem">
        <hr>
        <p class="am-padding-left">© 2019 WHXFX</p>
    </footer>
</div>
{{/block}}

{{block name="js"}}
<!--<script src="/vendor/markdown/editormd.min.js"></script>             //文本编辑器-->
<!--<script src="/vendor/admin/js/editormd_config.js"></script>-->
<script type="text/javascript" src="/vendor/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/vendor/ueditor/ueditor.all.js"></script>

<script type="text/javascript">
    //     var ue = UE.getEditor('container',{
    //
    //     });
    //
    //     function getstring(){
    //
    //         document.getElementById('container').innerHTML=UE.getEditor('editor').getContent();
    //
    // //get.Content() 函数可以获得你所编辑的内容的html代码
    //     }
</script>
<script>
    $(function () {
        //更改确定和编辑
        $(".removeredaonlyno").click(function () {
            var i = $(this).attr("res");
            if (i == 0) {
                $(this).attr("res", "1");
                $(this).html("<span class=\"am-icon-check-circle-o\"></span> 确定");
                $(this).parents('td').siblings('td').children('input').attr("readOnly", false);
            } else {
                if (confirm('是否要提交更改?')) {
                    var info = {
                        'id' :$(this).parents('tr').data('id'),
                        'courseId': "{{$course.id}}",
                        'muluName': $(this).parents('td').siblings('td').children('.muluName').val(),
                        'recommendSort': $(this).parents('td').siblings('td').children('.sort_order').val(),
                    }
                    // console.log(info);return
                    $.ajax({
                        type: 'POST',
                        url: '/admin/Coursedesigns/editfirstcatalog',
                        data: info,
                        success: function (data) {
                            // console.log(data);return;
                            if (data.code == 0) {
                                alert(data.msg);
                                return false;
                            }
                            if (data.status == 1) {
                                alert(data.msg);
                                window.location.reload();
                            } else {
                                alert(data.msg);
                                window.location.reload();
                                return false
                            }
                        }
                    })
                }else {
                    $(this).attr("res", "0");
                    $(this).html("<span class=\"am-icon-pencil-square-o\"></span> 编辑");
                    $(this).parents('td').siblings('td').children('input').attr("readOnly", true);
                }
            }
        });

        //新增目录td并且取消
        $(".createcatalogtd").click(function () {
            var li = "";
            li += "<tr data-id=\"\" class=\"xParent\">\n" +
                "                                <td style=\"line-height: 37px\"></td>\n" +
                "                                <td><input type=\"text\" style=\"width: 260px;\" name=\"muluName[]\"\n" +
                "                                           class=\"muluName\" value=\"\"></td>\n" +
                "                                <td>\n" +
                "                                    <input type=\"text\" style=\"width: 60px;\" name=\"recommendSort[]\"\n" +
                "                                           class=\"sort_order\" value=\"\">\n" +
                "                                </td>\n" +
                "                                <td>\n" +
                "                                    <div class=\"am-btn-toolbar\">\n" +
                "                                        <div class=\"am-btn-group am-btn-group-sm\">\n" +
                "                                            <a class=\"removeredaonly querencatalog am-btn am-btn-default am-btn-xs am-text-secondary\"\n" +
                "                                               href=\"javascript:;\" res=\"0\">\n" +
                "                                                <span class=\"am-icon-pencil-square-o\"></span> 确认\n" +
                "                                            </a>\n" +
                "                                            <a class=\"del quxiao am-btn am-btn-default am-btn-xs delete_category am-text-danger am-hide-sm-only\"\n" +
                "                                               href=\"javascript:;\">\n" +
                "                                                <span class=\"am-icon-trash-o\"></span> 取消\n" +
                "                                            </a>\n" +
                "                                        </div>\n" +
                "                                    </div>\n" +
                "                                </td>\n" +
                "                            </tr>";
            $(".createmulu").append(li);//将拼接出来的加入到指定的模块
            $(".quxiao").click(function () {
                $(this).parents("tr").remove();
            })
            $(".querencatalog").click(function () {
                var info = {
                    'level': 1,
                    'pid': 0,
                    'courseId':"{{$course.id}}",
                    'muluName': $(this).parents('td').siblings('td').children('.muluName').val(),
                    'recommendSort': $(this).parents('td').siblings('td').children('.sort_order').val(),
                }
                if (confirm('确定要提交吗?')) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/Coursedesigns/savefirstcatalog',
                        data: info,
                        success: function (data) {
                            // console.log(data);return;
                            if (data.code == 0) {
                                alert(data.msg);
                                return false;
                            }
                            if (data.status == 1) {
                                alert(data.msg);
                                window.location.reload();
                            } else {
                                alert(data.msg);
                                return false
                            }
                        }
                    })
                }
            })
        });

        // 目录单条删除
        $(".delcatalog").click(function () {
            var id = $(this).parents('tr').data('id');
            // console.log(id);return;
            var _this = $(this);
            if (confirm('确定要删除吗?')) {
                $.ajax({
                    type: 'DELETE',
                    url: '/admin/Coursedesigns/deletefirstcatalog/' + id,
                    data: {id: id},
                    success: function (data) {
                        if (data.status == 1) {
                            alert(data.msg);
                            // _this.parents('tr').fadeOut(300);
                            _this.parents('tr').remove();
                        } else {
                            alert(data.msg);
                            return false
                        }

                    }
                })
            }
            return false;
        })
    })
</script>
<!--//图片上传js-->
<script src="/vendor/admin/html5-fileupload/jquery.html5-fileupload.js"></script>
<!--//普通模块图片上传js-->
<!--<script src="/vendor/admin/js/upload.js"></script>-->
<!--<script src="/vendor/admin/js/upload123.js"></script>-->
<!--//课程信息图片js-->
<script src="/vendor/admin/js/courseimgupload.js"></script>
<script src="/vendor/admin/js/courseupload.js"></script>
{{/block}}
