{{extend name="layout/application" /}}

{{block name="css"}}
<!--<link rel="stylesheet" href="/vendor/markdown/css/editormd.min.css"/>     //文本编辑器-->
<!--<link type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css" rel="stylesheet"/>-->
<!--<link href="/vendor/admin/css/demos.css" rel="stylesheet" type="text/css"/>-->
<!--<link href="/vendor/admin/css/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css"/>-->
{{/block}}

{{block name="content"}}
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-lg">课程权限管理</strong>
                <!--<small>Create Product</small>-->
            </div>
        </div>

        <hr>

        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-2">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <a type="button" class="am-btn am-btn-default" href="{{:Url('admin/Members/create')}}">
                            <span class="am-icon-plus"></span> 新增
                        </a>
                        <!--<a class="del_all am-btn am-btn-default am-btn-xs delete_all am-text-danger am-hide-sm-only"-->
                        <!--href="javascript:;">-->
                        <!--<span class="am-icon-trash-o"></span> 删除-->
                        <!--</a>-->
                        <!--<button type="button" class="am-btn am-btn-success" id="show_all">-->
                        <!--<span class="am-icon-arrows-alt"></span> 展开所有-->
                        <!--</button>-->
                    </div>
                </div>
            </div>
            <form class="am-form-inline" role="form" method="get">
                <style>
                    .teacher_search_span {
                        font-size: 14px;
                    }

                    .am-selected {
                        width: 120px;
                    }
                </style>
                <div class="am-form-group">
                    <span class="teacher_search_span">真实姓名：</span>
                    <input type="text" name="name" class="am-form-field am-input-sm" style="width: 120px"
                           placeholder="姓名"
                           value="{{empty name='$condition.name'}}  {{else /}}{{$condition.name}}{{/empty}}">
                </div>
                <div class="am-form-group">
                    <span class="teacher_search_span">手机号：</span>
                    <input type="text" id="phone" class="am-form-field am-input-sm" name="phone" style="width: 120px"
                           placeholder="联系方式"
                           value="{{empty name='$condition.phone'}}  {{else /}}{{$condition.phone}}{{/empty}}">
                </div>
                <div class="am-form-group">
                    <span class="teacher_search_span">专业方向：</span>
                    <select data-am-selected="{btnSize: 'sm'}" name="category_id">
                        <option value=""></option>
                        {{foreach name="categories" id="category"}}
                        <option value="{{$category.MAJOR_NAME}}"
                                {{empty name='$condition.category_id' }} {{else
                        /}} {{if $category.ID ==$condition.category_id}} selected {{/if}}{{/empty}}
                        >{{$category.MAJOR_NAME}}</option>
                        {{/foreach}}
                    </select>
                </div>
                <button type="submit" class="am-btn am-btn-default am-btn-sm">查询</button>
                <a href="/admin/members" class="am-btn am-btn-default am-btn-sm">重置</a>
            </form>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form">
                    <table class="am-table  am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="table-check"><input type="checkbox" class="checked_all"/></th>
                            <th style="width: 7%" class="table-id">编号</th>
                            <th style="">真实姓名</th>
                            <th>昵称</th>
                            <th>手机号</th>
                            <th>专业方向</th>
                            <th>所属分校</th>
                            <th class="table-set">课程权限</th>
                            <th class="table-set">编辑信息</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{foreach name="users" id="user"}}
                        <tr data-id="{{$user.ID}}" class="xParent">
                            <td><input type="checkbox" class="checked_id" name="checked_id[]" value="{{$user.ID}}"/>
                            </td>
                            <td>{{$user.ID}}</td>
                            <td>{{$user.REALNAME}}</td>
                            <td>{{$user.MEMBERNAME}}</td>
                            <td>{{$user.PHONE}}</td>
                            <td>{{$user.MAJORNAME}}</td>
                            <td>暂无</td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <a class="am-btn am-btn-default am-btn-xs am-text-secondary"
                                           href="{{:Url('admin/Members/editauth',['id'=>$user.ID])}}">
                                            <span class="am-icon-pencil-square-o"></span> 编辑
                                        </a>
                                        <!--<a class="del am-btn am-btn-default am-btn-xs delete_category am-text-danger am-hide-sm-only"-->
                                        <!--href="javascript:;">-->
                                        <!--<span class="am-icon-trash-o"></span> 删除-->
                                        <!--</a>-->
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <a class="am-btn am-btn-default am-btn-xs am-text-secondary"
                                           href="{{:Url('admin/Members/edit',['id'=>$user.ID])}}">
                                            <span class="am-icon-pencil-square-o"></span> 编辑
                                        </a>
                                        <!--<a class="del am-btn am-btn-default am-btn-xs delete_category am-text-danger am-hide-sm-only"-->
                                        <!--href="javascript:;">-->
                                        <!--<span class="am-icon-trash-o"></span> 删除-->
                                        <!--</a>-->
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{/foreach}}
                        </tbody>
                    </table>
                </form>
                <div class="am-cf">
                    共 {{:count($users)}} 条记录
                    <div class="am-fr">
                        <ul class="am-pagination">
                            {{$users|raw}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="admin-content-footer">
        <hr>
        <p class="am-padding-left">© 2019 WHXFX</p>
    </footer>
</div>
{{/block}}

{{block name="js"}}
<!--<script src="/vendor/markdown/editormd.min.js"></script>             //文本编辑器-->
<!--<script src="/vendor/admin/js/editormd_config.js"></script>-->
<script type="text/javascript" src="/vendor/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/vendor/ueditor/ueditor.all.js"></script>
<script src="/vendor/admin/html5-fileupload/jquery.html5-fileupload.js"></script>   //图片上传
<!--自定义字段的两个js上传文件-->
<script src="/vendor/admin/js/courseimgupload.js"></script>
<script src="/vendor/admin/js/courseupload.js"></script>
<!--时间插件-->
<script src="/vendor/Amazeui/js/amazeui.datetimepicker.min.js"></script>
<script src="/vendor/Amazeui/js/local/amazeui.datetimepicker.zh-CN.js"></script>


<script type="text/javascript">
    $(function () {
        // 时间设置
        $('.timepicker').datetimepicker({
            format: 'yyyy-mm-dd hh:ii:00',
            todayBtn:true,
            autoclose :true ,
            setStartDate:new Date(),
            language:  'zh-CN',

        });

        //删除权限
        $(".delstage").click(function () {
            var _this = $(this);
            if (confirm('确定要删除吗?')) {
                _this.parents('tr').remove();
            }
        })
    });
</script>
{{/block}}
