{include file='public/header'}


<link rel="stylesheet" href="/static/css/onlineDetail.css">
<link rel="stylesheet" href="/static/css/commonCss/iconfont/iconfont.css">
<style>
  .list-group-item{
    border:none;
    border-top:1px solid #ddd;
    font-size: 14px;
    color: #666;
    padding: 15px 0px 15px 25px;
  }
  .list-group-item i {
    font-size: 12px;
    margin-right: 10px;
    float: right;
  }
</style>
    <!-- 面包屑路径导航 -->
    <div class="breadcrumb-path">
      <div class="wrap">
        <ol class="breadcrumb">
          <li><a href="/">首页</a></li>
          <li><a href="/online">线上课程</a></li>
          <li class="active">课程详情</li>
        </ol>
      </div>
    </div>
    <!-- 课程详情 -->
    <div class="buy-content">
  <div class="row wrap">
    <div class="img-box col-md-4">
      <img src="{$online.course.imgUrl}" alt="">
    </div>
    <div class="buy-des col-md-8">
      <h4 class="title">{$online.course.courseName}</h4>
      <p>{$online.course.brief}</p>
      <!--<div class="gifts">
       <b>选择：</b>
       <div>
         全部 <input type="checkbox" name="gitf_all">
         <input type="checkbox" name="gift" id="">
       </div>
     </div>-->

      <div class="choose" v-show="classStageList">
        <div class="radio">
          类型：
          <label class="radio-inline">
            <input type="radio" checked="checked" name="online-book" value="1">含图书</input>
          </label>
          <label class="radio-inline">
            <input type="radio" value="2" name="online-book">不含图书</input>
          </label>
        </div>
        <div class="checkbox">
          <span>选择：</span>
          <label class="checkbox-inline">
            <input type="checkbox" name="classCheckAll" id="" >全选 &nbsp;
          </label>
          {volist name="$online['stage']" id="vo"/}
          <label class="checkbox-inline">
            <input type="checkbox"  name="classIdChecked" value="{$vo.id}">{$vo.stageName} &nbsp;
          </label>
          {/volist}
        </div>
      </div>


      <div class="price-table clearfix">
        <div class="real-price">¥ {$online.course.price}</div>
        <div class="class-number">课时：{$online.course.classHour}</div>
      </div>
      <div class="buy-btns clearfix">
        <button class="btn buy-now">立即购买</button>
        <button class="btn buy-done" disabled>已购买</button>
        <button class="btn buy-ask">咨询</button>
        <span class="teacher"></span>
      </div>
    </div>
  </div>
</div>
    <!-- 课程介绍 -->
    <div class="online-des">
      <div class="row wrap">
        <!-- 左侧列表 -->
        <div class="left col-md-8">
          <ul class="left-nav clearfix">
            <li class="active">课程介绍</li>
            <li>课程列表</li>
          </ul>
          <div class="left-content">
            <!-- <div class="left-item escape-box"></div> -->
            <div class="left-item escape-box active">
              {:trim($online.course.details,'"')}
            </div>
            <div class="left-item left-list">

              <div class="panel-group" id="accordion">

                {foreach name="classList" item="vo" key="key"/}
                <?php $outkey = $key;?>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion"
                         href="#class_list_{$key}" >
                        <span class="glyphicon glyphicon-th-large">&nbsp;{$vo.classjName}</span>
                      </a>
                    </h4>
                  </div>
                  <div id="class_list_{$key}" class="panel-collapse collapse in">
                    <div class="">
                      <!--有子集且子集为课程小结-->
                        {if condition="$vo['sub'] and $vo['sub'][0]['classFestivalId'] neq ''" /}
                          <ul class="list-group">
                          {foreach name="vo['sub']" item="v" key="vk"/}
                            <a class="list-group-item" href="javasript:;" class-id="{$v.id}" isPay="{$v.isPay ?? 0}">
                                &nbsp;&nbsp;<span class="glyphicon glyphicon-expand">&nbsp;{$v.classjName|msubstr=###,0,68,'utf-8',false}</span>
                              <i class="glyphicon glyphicon-time">{$v.duration} </i>
                              <i class="glyphicon glyphicon-list-alt">{$v.stageName} </i>
                              <i class="glyphicon glyphicon glyphicon-user">{$v.speaker} </i>
                            </a>
                          {/foreach}
                          </ul>
                        {else/}
                       <!--有子集且子集为课程目录-->
                        {foreach name="vo['sub']" item="v" key="vk"/}
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#class_list_{$key}"
                                     href="#class_list_{$key}_{$vk}">
                                    &nbsp;&nbsp;<span class="glyphicon glyphicon-th-large">&nbsp;{$v.classjName}</span>
                                  </a>
                                </h4>
                              </div>
                              <div id="class_list_{$key}_{$vk}" class="panel-collapse collapse">
                                <div class="">
                                  {if condition="$v['sub'] and $v['sub'][0]['classFestivalId'] neq ''" /}
                                    <ul class="list-group">
                                    {foreach name="v['sub']" item="vv" key="vvk"/}
                                      <a class="list-group-item" href="javasript:;" class-id="{$vv.id}" isPay="{$vv.isPay ?? 0}">
                                        &nbsp;&nbsp;<span class="glyphicon glyphicon-expand">&nbsp;{$vv.classjName|msubstr=###,0,32,'utf-8',false}</span>
                                        <i class="glyphicon glyphicon-time">{$vv.duration} </i>
                                        <i class="glyphicon glyphicon-list-alt">{$vv.stageName} </i>
                                        <i class="glyphicon glyphicon glyphicon-user">{$vv.speaker} </i>
                                      </a>
                                    {/foreach}
                                    </ul>
                                  {/if}
                                </div>
                              </div>
                            </div>

                        {/foreach}

                      {/if}

                    </div>
                  </div>
                </div>

              {/foreach}
              </div>


            </div>
          </div>
        </div>
        <!-- 右侧推荐 以后放课程主讲老师介绍 -->
<!--
        <div class="right col-md-3 pull-right">
          <div class="recommend">
            <div class="header">
              <span>课程推荐</span>
            </div>
            <div class="right-content js-col-box">
              <div class="col-md-12 js-col-item">
                <div class="content-col">
                  <div class="imgbox">
                    <img src="../images/online.jpeg">
                  </div>
                  <div class="col-des">
                    <h4 class="title">【伴读通关班】2019执业中药师新题课-药一</h4>
                    <div class="price clearfix">
                      <b class="real-price">
                        <span class="real-price-number">￥399</span>
                      </b>
                      <span class="original-price">￥268</span>
                      <span class="class-number">课时:32</span>
                    </div>
                    <div class="main-speaker">
                      <span class="speaker">主讲人：新方向精品讲师</span>
                      <span class="learn-members">16人在学</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 js-col-item">
                <div class="content-col">
                  <div class="imgbox">
                    <img src="../images/online.jpeg">
                  </div>
                  <div class="col-des">
                    <h4 class="title">【伴读通关班】2019执业中药师新题课-药一</h4>
                    <div class="price clearfix">
                      <b class="real-price">
                        <span class="real-price-number">￥399</span>
                      </b>
                      <span class="original-price">￥268</span>
                      <span class="class-number">课时:32</span>
                    </div>
                    <div class="main-speaker">
                      <span class="speaker">主讲人：新方向精品讲师</span>
                      <span class="learn-members">16人在学</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 js-col-item">
                <div class="content-col">
                  <div class="imgbox">
                    <img src="../images/online.jpeg">
                  </div>
                  <div class="col-des">
                    <h4 class="title">【伴读通关班】2019执业中药师新题课-药一</h4>
                    <div class="price clearfix">
                      <b class="real-price">
                        <span class="real-price-number">￥399</span>
                      </b>
                      <span class="original-price">￥268</span>
                      <span class="class-number">课时:32</span>
                    </div>
                    <div class="main-speaker">
                      <span class="speaker">主讲人：新方向精品讲师</span>
                      <span class="learn-members">16人在学</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
-->
      </div>
    </div>

    <!-- footer -->
    {include file='public/footer'}

  </div>
  <script src="/static/js/commonJs/jquery-1.9.1.min.js"></script>
  <script src="/static/js/commonJs/bootstrap-3.3.7.min.js"></script>
  <script src="/static/js/commonJs/jquery.validate.js"></script>
  <script src="/static/js/commonJs/common.js"></script>
  <script src="/static/js/onlineDetail.js"></script>

<script>
  $(function () {
      // 课程介绍 选项卡
      $('.left-nav li').click(function () {
          $(this).addClass('active').siblings().removeClass('active');
          $('.left-content .left-item').eq($(this).index()).addClass('active').siblings().removeClass('active');
      });
  })
</script>
</body>

</html>