
<!-- footer -->
<div class="footer">
    <div class="wrap">
        <div class="footerContent row">
            <div class="col-md-6 footerLi">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3 footer-img">
                        <img src="/static/assets/imgs/zhongyi.jpg">
                    </div>
                    <div class="col-md-6 footer-weixin">
                        <p>微信订阅号：</p>
                        <p class="footer-weixin-group">新方向中医学堂</p>
                        <p>提供中医从业培训、中医技术学习、中医学术交流等中医行业服务</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 footerLi">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3 footer-img">
                        <img src="/static/assets/imgs/jiaoyu.jpg">
                    </div>
                    <div class="col-md-6 footer-weixin">
                        <p>微信服务号：</p>
                        <p class="footer-weixin-group">新方向教育集团</p>
                        <p>提供优质学习和资讯服务，了解新方向最新动态</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 copyright">
                <p>武汉新方向教育科技有限责任公司 版权所有 鄂ICP备14019396号-2</p>
                <a class="clearfix" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42011102002782">
                    <img src="/static/assets/imgs/gongan.png" />
                    <span>鄂公网安备 42011102002782号</span>
                </a>
            </div>

        </div>
    </div>
</div>
</div>

</body>

</html>