{{extend name="layout/application" /}}

{{block name="css"}}
<!--<link rel="stylesheet" href="/vendor/markdown/css/editormd.min.css"/>     //文本编辑器-->
<link type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
<link href="/vendor/admin/css/demos.css" rel="stylesheet" type="text/css"/>
<link href="/vendor/admin/css/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css"/>
{{/block}}

{{block name="content"}}
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-lg">新增直播课堂</strong>
                <!--<small>Create Product</small>-->
            </div>
        </div>

        <hr>

        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-12" style="margin-bottom: 1rem">
                <form class="am-form" action="{{:Url('admin/Liveurls/saveliveclass')}}" method="post"
                      enctype="multipart/form-data">
                    <h3>课堂信息</h3>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-1 am-text-right" style="padding: 0;font-size: 14px;line-height: 38px">
                            课堂名称
                        </div>
                        <div class="am-u-sm-2 changeinput">
                            <input type="text" class="am-input-sm" name="subject" value="">
                        </div>
                        <div class="am-u-sm-1 am-text-right" style="padding: 0;font-size: 14px;line-height: 38px">
                            开播时间
                        </div>
                        <div class="am-u-sm-3 am-u-end col-end changeinput">
                            <div class="am-form-group am-form-icon">
                                <div class="am-input-group am-form-icon am-datepicker-date">
                                    <input type="text" class="am-form-field timepicker " name="startDate"
                                           placeholder="点击选择日期" autocomplete="off">
                                    <i class="am-icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-3 am-u-end col-end changeinput">
                            <div class="am-form-group am-form-icon">
                                <div class="am-input-group am-form-icon am-datepicker-date">
                                    <input type="text" class="am-form-field timepicker" name="endDate"
                                           placeholder="点击选择日期" autocomplete="off">
                                    <i class="am-icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-2 am-fl changeinput">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-sm">
                                    <a class="removeredaonlyno am-btn am-btn-default am-btn-xs am-text-secondary"
                                       href="javascript:;" res="1">
                                        <span class="am-icon-check-circle-o"></span> 确定
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <hr style="margin-top: 0.5rem">
                    <style>
                        .am-form input[type=text][readonly]{
                            cursor: pointer;
                            background-color: #eee;
                        }
                    </style>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            学生加入地址
                        </div>
                        <div class="am-u-sm-8 am-u-end col-end">
                            <input type="text" class="am-input-sm" name=""  readonly=" " value="">
                        </div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right" >
                            客户端学生加入密码
                        </div>
                        <div class="am-u-sm-3 am-u-end col-end">
                            <input type="text" class="am-input-sm" name=""  readonly=" " value="">
                        </div>
                        <div class="am-u-sm-2 am-text-right">
                            web端学生加入密码
                        </div>
                        <div class="am-u-sm-3 am-u-end col-end">
                            <input type="text" class="am-input-sm" name="" readonly=" " value="">
                        </div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            老师加入地址
                        </div>
                        <div class="am-u-sm-8 am-u-end col-end">
                            <input type="text" class="am-input-sm" name="" readonly=" " value="">
                        </div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            老师加入密码
                        </div>
                        <div class="am-u-sm-3 am-u-end col-end">
                            <input type="text" class="am-input-sm" name="" readonly=" " value="">
                        </div>
                        <div class="am-u-sm-2 am-text-right">
                            助教加入密码
                        </div>
                        <div class="am-u-sm-3 am-u-end col-end">
                            <input type="text" class="am-input-sm" name="" readonly=" " value="">
                        </div>
                    </div>
                    <hr style="border-top: 3px solid #eee">
                <!--</form>-->
                <!--<form class="am-form" action="{{:Url('admin/Lives/save')}}" method="post"-->
                      <!--enctype="multipart/form-data">-->
                    <h3>直播信息</h3>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            直播标题
                        </div>
                        <div class="am-u-sm-3 am-u-end col-end">
                            <input type="text" class="am-input-sm" name="liveClassName" value="">
                        </div>
                        <div class="am-u-sm-2 am-text-right">
                            主讲人
                        </div>
                        <div class="am-u-sm-3 am-u-end col-end">
                            <input type="text" class="am-input-sm" name="speaker" value="">
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            所属直播间设置
                        </div>
                        <div class="am-u-sm-10">
                            <div class="am-btn-group am-btn-group-sm">
                                <a type="button" class="am-btn am-btn-default am-text-success createstagetd"
                                   href="javascript:;">
                                    <span class="am-icon-plus"></span> 新增
                                </a>
                            </div>
                        </div>
                        <div class="am-g ">
                            <div class="am-u-sm-10 am-u-sm-centered">
                        <table class="am-table  am-table-hover table-main">
                            <thead>
                            <tr>
                                <!--<th class="table-check"><input type="checkbox" class="checked_all"/></th>-->
                                <th style="width: 8%" class="table-id">编号</th>
                                <th>专业方向</th>
                                <th style="width: 40%">直播间名称</th>
                                <th>权限分组</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody class="createstage">

                            <tr data-id="{{}}" class="xParent">
                                <style>
                                    .createstage tr td{
                                        padding-top: 0.1rem!important;
                                        padding-bottom: 0.1rem!important;
                                    }
                                    .createstage .am-btn-toolbar{
                                        margin-top: 2px;
                                    }
                                    .createstage tr td .am-btn-secondary{
                                        color: #555555;
                                    }
                                </style>
                                <td style="line-height: 37px"></td>
                                <td>
                                    <select data-am-selected="{btnWidth: '100%',  btnStyle: 'secondary', btnSize: 'sm', maxHeight: 360, searchBox: 1}"
                                            name="majorId">
                                        {{foreach name="categories" id="category"}}
                                        <option value="{{$category.ID}}">{{$category.MAJOR_NAME}}</option>
                                        {{/foreach}}
                                    </select>
                                </td>
                                <td class="">
                                    <select data-am-selected="{btnWidth: '100%',  btnStyle: 'secondary', btnSize: 'sm', maxHeight: 360, searchBox: 1}"
                                            name="liveRoomId" class="selectliveroom" id="selectliveroom">
                                        {{foreach name="alllives" id="alllive"}}
                                        <option value="{{$alllive.id}}">{{$alllive.liveRoomName}}</option>
                                        {{/foreach}}
                                    </select>
                                <td>
                                    <select data-am-selected="{btnWidth: '100%',  btnStyle: 'secondary', btnSize: 'sm', maxHeight: 360, searchBox: 1}"
                                            name="majorId">
                                        {{foreach name="alllivestages" id="alllivestage"}}
                                        {{foreach $alllivestage.livestage as $onelivestage}}
                                        {{if $onelivestage.liveRoomId == $alllivestage.id}} <option value="{{$onelivestage.id}}">{{$onelivestage.stageName}}</option> {{/if}}
                                        {{/foreach}}
                                        {{/foreach}}
                                    </select>
                                </td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-sm">
                                            <a class="removeredaonly am-btn am-btn-default am-btn-xs am-text-secondary"
                                               href="javascript:;" res="0">
                                                <span class="am-icon-pencil-square-o"></span> 编辑
                                            </a>
                                            <a class="delstage am-btn am-btn-default am-btn-xs delete_category am-text-danger am-hide-sm-only"
                                               href="javascript:;">
                                                <span class="am-icon-trash-o"></span> 删除
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                            </div>
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            状态
                        </div>
                        <div class="am-u-sm-3 am-u-end col-end">
                        <div class="am-form-group">
                            <label class="am-radio-inline">
                                <input type="radio" name="state" class="nochecked" value="0" checked> 未开播
                            </label>
                            <label class="am-radio-inline">
                                <input type="radio" name="state" class="nochecked" value="1"> 直播中
                            </label>
                            <label class="am-radio-inline">
                                <input type="radio" name="state" value="3" class="ischecked"> 回放
                            </label>
                            <label>
                            <input type="text" class="am-form-field" name="playbackUrl" id="canedit" readonly="" style="width: 500px" placeholder="请输入回放地址">
                            </label>
                            <!--<div class="am-input-group">-->
                                <!--<span class="am-input-group-label">-->
                                    <!--<input type="checkbox" >-->
                                <!--</span>-->
                                <!--<input type="text" class="am-form-field" name="huifangdizhi" id="canedit" readonly="">-->
                            <!--</div>-->
                        </div>
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            图片
                        </div>

                        <div class="am-u-sm-8 am-u-md-8 am-u-end col-end">
                            <div class="am-form-group am-form-file">
                                <button type="button"
                                        class="am-btn am-btn-success am-btn-sm new_thumb upload_img">
                                    <i class="am-icon-cloud-upload" id="loading"></i> 上传缩略图
                                </button>
                                <input type="file" id="image_upload">
                                <input type="hidden" name="imgUrl" value="">
                            </div>

                            <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed"/>

                            <div>
                                <img src="" id="img_show" style="max-height: 200px;">
                            </div>
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-4 am-text-right">
                            <button type="submit" class="am-btn am-btn-primary am-radius">提交保存</button>
                            <buttom class="am-btn am-btn-danger am-radius" onclick="history.go(-1)">返回</buttom>
                        </div>
                        <div class="am-u-sm-8 am-u-md-6 am-u-end col-end">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="admin-content-footer">
        <hr>
        <p class="am-padding-left">© 2019 WHXFX</p>
    </footer>
</div>
{{/block}}

{{block name="js"}}
<!--<script src="/vendor/markdown/editormd.min.js"></script>             //文本编辑器-->
<!--<script src="/vendor/admin/js/editormd_config.js"></script>-->
<script type="text/javascript" src="/vendor/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/vendor/ueditor/ueditor.all.js"></script>
<script src="/vendor/admin/html5-fileupload/jquery.html5-fileupload.js"></script>   //图片上传
<script src="/vendor/admin/js/upload.js"></script>
<script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js"></script>
<script src="/vendor/admin/js/jquery-ui-timepicker-addon.js"></script>
<script src="/vendor/admin/js/jquery.ui.datepicker-zh-CN.js.js" type="text/javascript" charset="gb2312"></script>
<script src="/vendor/admin/js/jquery-ui-timepicker-zh-CN.js"></script>

<script type="text/javascript">
    //     var ue = UE.getEditor('container', {});
    //     function getstring() {
    //         document.getElementById('container').innerHTML = UE.getEditor('editor').getContent();
    // //get.Content() 函数可以获得你所编辑的内容的html代码
    //
    //     }

    $(function () {
        // 时间设置
        $('.timepicker').datetimepicker({
            timeFormat: "HH:mm:ss",
            dateFormat: "yy-mm-dd",
            minDate: 0,
            maxDate: "+6M",
        });
        // 更改确定和编辑
        $(".removeredaonlyno").click(function () {
            var i = $(this).attr("res");
            _this = $(this);
            if (i == 0) {
                $(this).attr("res", "1");
                $(this).html("<span class=\"am-icon-check-circle-o\"></span> 确定");
                $(this).parents(".changeinput").siblings(".changeinput").children('input').attr("readOnly", false);
            } else {
                if (confirm('是否要提交更改?')){
                    var info = {
                        'subject': $("input[name='subject']").val(),
                        'startDate': $("input[name='startDate']").val(),
                        'endDate': $("input[name='endDate']").val(),
                        // 'liveRoomId': "",
                        // 'stageName': $(this).parents('td').siblings('td').children('.stageName').val(),
                        // 'recommendSort': $(this).parents('td').siblings('td').children('.sort_order').val(),
                    }
                    // console.log(info);return
                    $.ajax({
                        type: 'POST',
                        url: '/admin/Liveurls/saveliveclass',
                        data: info,
                        success: function (data) {
                            // console.log(data);return;
                            if (data.code == 0) {
                                alert(data.msg);
                                return false;
                            }
                            if (data.status == 1) {
                                _this.attr("res", "0");
                                _this.html("<span class=\"am-icon-pencil-square-o\"></span> 编辑");
                                _this.parents('td').siblings('td').children('input').attr("readOnly", true);
                                alert(data.msg);

                                // window.location.reload();
                            } else {
                                alert(data.msg);
                                return false
                            }
                        }
                    })
                }else {
                    $(this).attr("res", "0");
                    $(this).html("<span class=\"am-icon-pencil-square-o\"></span> 编辑");
                    $(this).parents(".changeinput").siblings(".changeinput").children('input').attr("readOnly", true);
                }
            }
        });
        //选中回放输入框可输入
        $("input[name='state']").change(function () {
            if($(".ischecked").is(":checked")){
                $(this).parents('label').siblings("label").children("input[name='playbackUrl']").attr("readOnly", false);
            }
            if($(".nochecked").is(":checked")){
                $(this).parents('label').siblings("label").children("input[name='playbackUrl']").attr("readOnly", true);
            }
            // else {
            //     $(this).parents('label').siblings("label").children("input[name='huifangdizhi']").attr("readOnly", true);
            // }
        });
        //进入页面通过一级目录的更改权限更换
    });
</script>
{{/block}}
